/* https://tailwindcss.com/docs/adding-custom-styles  */

.herocontainer {
    background: linear-gradient(45deg, #3498db, #e74c3c);
    position: relative;
    overflow: hidden;
  }
  
  .herodeco {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 200%;
    height: 150px;
    background: rgba(255, 255, 255, 0.1);
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    z-index: -1;
  }